
body{
  padding: 0 2em;
}
svg{
  /*border:2px solid black;*/
  overflow: visible;
}
#container{
  overflow: hidden;
}
circle{
r: 5;
fill:black;
transition: r linear 0.5s,  fill linear 0.25s;

}

circle:hover {
r: 20;
fill:blue;


}
