<!DOCTYPE html>
<html>

<body>
<h1>Sessions login</h1>
<form action="/sessions" method="POST">
  <input type="text" name="name" placeholder="username"/>
  <input type="password" name="password" /><br/>
  <input type="submit" value="Session Login"/>

</form>
</body>
</htms>
