
<DOCTYPE html>
  <html>
<body>
<h1>Sign UP</h1>
<form action="/users" method="POST">
  <input type="text" name="name" placeholder="username"/>
  <input type="password" name="password" /><br/>
  <input type="submit" value="Join CBI Dot Database"/>
</form>
</body>
</html>
